<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phx Elm(Css) Webpack Starter App</title>
    <%= {:safe, css_link_tag(static_path(@conn, "/css/app.css"))} %>
  </head>

  <body>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
      <%= {:safe, js_script_tag(static_path(@conn, "/js/app.js"))} %>
  </body>
</html>
